.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: goldenrod;
    margin-top:0px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}